:root {
  --column-width-to-from: 200px;
  --column-width-subject: 500px;
}

/* ************* */
/* GLOBAL STYLES */
/* ************* */
* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 25px 30px;
}

.icons {
  width: 18px;
}

/* ************* */
/* HEADER STYLES */
/* ************* */
#header {
  border-bottom: 1px solid lightgray;
}

#search-form {
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 220px;
  height: 30px;
  text-align: center;
}

#search-box {
  border-radius: 5px;
  border: none;
  outline: none;
  margin: 0px;
  width: 11em;
  height: 90%;
  background-color: transparent;
  padding-left: 5px;
  font-size: 12px;
}

#search-box::placeholder {
  color: lightgray;
}

#icon-calender {
  float: left;
  margin: 5.5px 0px 5.5px 8px;
}

#search-button {
  float: right;
  margin: 0px;
  height: 100%;
  border: none;
  border-left: 1px solid lightgray;
  outline: none;
  width: 2.8em;
}

#search-button:hover {
  background-color: rgb(235, 233, 233);
}

#icon-search {
  width: 13px;
}

#result-counter {
  font-size: 11px;
  font-weight: bold;
  color: gray;
  margin-bottom: 3px;
}

#result-counter > span {
  font-size: 15px;
}

/* *********************** */
/* RESULT-CONTAINER STYLES */
/*       (WHEN EMPTY)      */
/* *********************** */
#result-container {
  height: 85vh;
}

#empty-results {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* *********************** */
/* RESULT-CONTAINER STYLES */
/* *********************** */

/* HEADER */
#table-header {
  /* color: gray; */
  font-weight: bold;
  background-color: rgb(236, 236, 236);
  padding: 0px 10px;
  overflow-wrap: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 1px solid lightgray;
}

#table-header > p {
  /* display: inline-block; */
  font-size: 12px;
  margin: 16px 5px;
  cursor: pointer;
}

/* COLUMNS */
.column-to-from {
  /* flex-grow: 1; */
  flex-basis: 18%;
  flex-grow: 0;
}

.column-subject {
  /* flex-grow: 3; */
  flex-basis: 50%;
  flex-grow: 0;
}

.column-attachment {
  flex-basis: 5%;
  flex-grow: 0;
}

.column-date {
  /* flex-grow: 1; */
  flex-basis: 14%;
  flex-grow: 0;
}

.row-to-from {
  overflow: hidden;
  text-overflow: ellipsis;
}

.row-subject {
  word-wrap: break-word;
}

.row-date {
  white-space: nowrap;
}

/* ROW */
.email-row {
  font-size: 12px;
  border-bottom: 1px solid lightgray;
}

.email-row:hover {
  color: blue;
  cursor: pointer;
  background-color: rgb(239, 239, 239);
}

.email-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.email-info > p {
  margin: 16px 5px;
}

/* Filter Icons */
.filter-icons {
  width: 8px;
  margin-left: 2px;
}

.rotate-180 {
  transform: scaleY(-1);
}

/* Clip Icon */
.column-attachment {
  display: flex;
  align-items: center;
}

.clip {
  width: 12px;
}
